In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import cross_val_score

In [9]:
diamonds = pd.read_csv("input/train.csv")
diamonds.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1   1   0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2   2   0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3   3   0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4   4   0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [10]:
diamonds["cut"].replace(["Premium", "Ideal", "Very Good","Good","Fair"],[1,2,3,4,5],inplace=True)
diamonds["clarity"].replace(["SI1", "VS2", "SI2","VS1","VVS2","VVS1","IF","I1"],[1,2,3,4,5,6,7,8],inplace=True)
diamonds["color"].replace(["G", "E", "F","H","D","I","J"],[1,2,3,4,5,6,7],inplace=True)

In [11]:
diamonds

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.30,3,3,2,62.8,56.0,4.29,4.31,2.70,605
1,1,0.34,2,2,1,62.6,55.0,4.46,4.49,2.80,565
2,2,0.40,3,5,1,60.3,62.0,4.70,4.75,2.85,720
3,3,0.40,1,4,4,61.8,59.2,4.72,4.74,2.92,793
4,4,0.90,3,5,1,61.0,63.0,6.10,6.13,3.73,4381
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.32,2,5,4,61.5,56.0,4.41,4.43,2.72,862
40451,40451,0.30,2,5,2,60.9,57.0,4.32,4.35,2.64,710
40452,40452,0.47,1,1,1,62.7,58.0,4.97,4.99,3.12,931
40453,40453,0.40,4,1,2,63.5,56.0,4.68,4.70,2.98,807
40454,40454,2.02,3,4,3,62.3,58.0,7.97,8.04,4.99,15064

In [12]:
diamonds=diamonds[(diamonds.x!=0) & (diamonds.y!=0) & (diamonds.z!=0)]

In [14]:
diamonds

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.30,3,3,2,62.8,56.0,4.29,4.31,2.70,605
1,1,0.34,2,2,1,62.6,55.0,4.46,4.49,2.80,565
2,2,0.40,3,5,1,60.3,62.0,4.70,4.75,2.85,720
3,3,0.40,1,4,4,61.8,59.2,4.72,4.74,2.92,793
4,4,0.90,3,5,1,61.0,63.0,6.10,6.13,3.73,4381
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.32,2,5,4,61.5,56.0,4.41,4.43,2.72,862
40451,40451,0.30,2,5,2,60.9,57.0,4.32,4.35,2.64,710
40452,40452,0.47,1,1,1,62.7,58.0,4.97,4.99,3.12,931
40453,40453,0.40,4,1,2,63.5,56.0,4.68,4.70,2.98,807
40454,40454,2.02,3,4,3,62.3,58.0,7.97,8.04,4.99,15064

In [ ]:
X = diamonds.drop(columns = ["price"])
y = diamonds.price